.contact {
    margin-top: 2em;
    width: 100%;
}

.contactList {
    margin: 1em;
    padding: 1em;
    background-color: #a0be78;
}

img {
    position: absolute;
    margin-top: 1em;
    left: 22em;
}